.header {
    width: 100%;
    height: 88px;
    background-color: #fe0000;
}

.content-header {
    width: 1230px;
    display: flex;
    height: 88px;
    margin: auto;
}

.content-img {
    text-decoration: none solid rgb(0, 0, 238);
    /* position: relative; */
    z-index: 1;
    /* height: 42px; */
    box-sizing: border-box;
    margin: auto 0;
    padding: 0px;
    border: 0px none rgb(0, 0, 238);
    font: 16px / 16px Roboto, sans-serif;
    vertical-align: baseline;
}

.style-img {
    display: block;
    width: 242px;
    /* height: 70%; */
    box-sizing: border-box;
    margin: 0px;
    padding: 37px 0 0 0px;
    border: 0px none rgb(0, 0, 238);
    font: 16px / 16px Roboto, sans-serif;
}

.header-map {
    display: flex;
    margin: auto 20px;
}

.header-icon {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    font-family: nk-font;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 26px;
    margin: 0px 6px 0px 0px;
    padding: 0px;
    border: 0px none rgb(255, 255, 255);
}

.header-conten-map {
    margin-top: 3px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-variant: normal;
    text-transform: none;
    font: 12px / 16px Roboto, sans-serif;
    font-size: 14px;
}

.header-conten-action {
    margin-top: 3px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-variant: normal;
    text-transform: none;
    font: 12px / 16px Roboto, sans-serif;
    font-size: 14px;
}

.header-conten-map-select {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-variant: normal;
    text-transform: none;
    font: 12px / 16px Roboto, sans-serif;
    font-size: 14px;
}

.header-search {
    display: flex;
    margin: auto 0px auto 37px;
}

.style-113 {
    border-radius: 14.4px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    position: relative;
    width: 30%;
    float: left;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: 16px / 16px Roboto, sans-serif;
    vertical-align: baseline;
}

.style-114 {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 16px Roboto, sans-serif;
    vertical-align: baseline;
}

.search {
    position: absolute;
    top: 2px;
    left: 212px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 15px;
}

.style-116 {
    height: 40px;
    border: 0px none rgb(17, 17, 17);
    padding: 0px 10px;
    color: rgb(17, 17, 17);
    font-size: 15px;
    border-radius: 13.5px;
    width: 265px;
    box-sizing: border-box;
}

.header-action {
    margin: auto 10px;
    display: flex;
}

.header-conten-action {
    display: flex;
    margin-top: 3px;
    margin-right: 15px;
    max-width: 120px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-variant: normal;
    text-transform: none;
    font: 12px / 16px Roboto, sans-serif;
    font-size: 14px;
}

.style-icon-action {
    margin-right: 10px;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    font-family: nk-font;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 26px;
    margin: 0px 6px 0px 0px;
    padding: 0px;
    border: 0px none rgb(255, 255, 255);
}

.content-body {
    width: 1230px;
    height: 34px;
    margin: 0 auto;
}

/* .content-body{
    display: flex;
} */

.style-160 {
    width: 240px;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 16px Roboto, sans-serif;
    vertical-align: baseline;
}

.style-161 {
    background-color: rgb(65, 59, 73);
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0px;
    color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0px;
    border: 0px none rgb(255, 255, 255);
    vertical-align: baseline;
}

.style-162 {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    font-family: nk-font;
    display: block;
    vertical-align: middle;
    padding: 0px 12px;
    font-size: 24px;
    box-sizing: border-box;
    margin: 0px;
    border: 0px none rgb(255, 255, 255);
}

.style-163 {
    display: block;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(255, 255, 255);
    font: 700 15px / 15px Roboto, sans-serif;
}

.option {
    margin: auto 20px 0 10px;
    color: rgb(63, 63, 63);
    font-weight: 500;
    transition: all 0.2s ease 0s;
    line-height: 44px;
    display: flex;
    align-items: center;
    font-size: 12.8px;
    text-decoration: none solid rgb(63, 63, 63);
    box-sizing: border-box;
    padding: 0px;
    border: 0px none rgb(63, 63, 63);
    vertical-align: baseline;
}

.delivery {
    margin: auto 0;
    display: flex;
}

.bulkhead {
    padding: 10px 28px;
    font-size: larger;
}

.text-option {
    width: 21px;
    height: auto;
    margin-right: 6.4px;
    margin-right: 6.4px;
    box-sizing: border-box;
    margin: 0px 6.4px 0px 0px;
    padding: 0px;
    border: 0px none rgb(63, 63, 63);
    font: 500 12.8px / 44px Roboto, sans-serif;
    vertical-align: baseline;
}

.style-2527 {
    align-items: center;
    display: flex;
    height: auto;
    width: 100%;
    text-decoration: none solid rgb(0, 0, 238);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 238);
    font: 16px / 16px Roboto, sans-serif;
    vertical-align: baseline;
}

.style-2501 {
    width: 861px;
    margin-right: 10px;
    margin-right: 10px;
    position: relative;
    min-height: 1px;
    float: left;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 16px Roboto, sans-serif;
    vertical-align: baseline;
}

.banner-body {
    display: flex;
    margin-bottom: 20px;
}

.big-banner {
    padding-right: 15px;
}

.nk-title {
    font-weight: 700;
    position: relative;
    color: #3f3f3f;
    margin-bottom: 2rem;
    display: inline-flex;
    text-transform: uppercase;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .15));
}

@media only screen and (max-width: 600px) {
    .header {
        width: 400px;
        height: 50px;
        background-color: white;
    }

    .style-2593 {
        font-weight: 500;
        position: relative;
        color: #3f3f3f;
        display: inline-flex;
        font-size: 14px;
    }

    .header-icon {
        color: black;
    }

    .header-conten-map {
        color: black;
    }

    .header-conten-map-select {
        color: black;
    }

    .header-conten-action {
        color: black;
    }

    .style-icon-action {
        color: black;
    }

    .content-body {
        width: 400px;
        margin: 0px;
    }

    .big-banner {
        width: 390px;
        height: auto;
        padding: 10px 0px;
    }

    .content-header {
        margin: 0px;
        height: 50px;
    }

    .header-search {
        display: none;
    }

    #responsive {
        display: none;
    }

    .style-160 {
        display: none;
    }

    .style-2463 {
        display: none;
    }

    .style-2462 {
        display: none;
    }

    .style-2577 {
        display: none;
    }

    /* .style-4407 {
        display: none;
    }
    .style-4427 {
        display: none;
    }
    .style-4422 {
        display: none;
    }
    .style-4399 {
        display: none;
    }
    .style-4418 {
        display: none;
    } */
    .style-4389 {
        display: none;
    }

    .style-5939 {
        display: none;
    }

    .header-block-span {
        font-size: 19px;
    }

    .style-6251 {
        display: block;
    }


    .style-2455 {
        width: 400px;
        margin: 0;
    }

    .delivery {
        display: none;
    }
}

.style-6251 {
    display: none;
}

.owl-carousel {
    padding: 12px;
}

.owl-carousel-seen {
    padding: 12px;
}



.style-q0 {
    width: 100%;
    margin: 0px;
    padding: 12px 0px;
    overflow: hidden;
    border-radius: 8px;
    clear: both;
    box-sizing: border-box;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 16px Roboto, sans-serif;
    vertical-align: baseline;
}

.style-q1 {
    padding: 0px 0px 10px;
    max-width: 1346px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin: 0px 0px;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 16px Roboto, sans-serif;
    vertical-align: baseline;
}
.style-d2 {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 16px Roboto, sans-serif;
    vertical-align: baseline;
}
.style-d3 {
    width: 20%;
    float: left;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 16px Roboto, sans-serif;
    vertical-align: baseline;
}
.style-d4 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: rgb(63, 63, 63);
    display: block;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(63, 63, 63);
    vertical-align: baseline;
}

.style-d565 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 16px Roboto, sans-serif;
    vertical-align: baseline;
}
.style-d5 {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 16px Roboto, sans-serif;
    vertical-align: baseline;
}
.style-d47 {
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 16px Roboto, sans-serif;
    vertical-align: baseline;
}
.style-d63 {
        max-width: 1214px;
        margin: 0 auto;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .style-d64 {
        padding: 0 70px;
        font-weight: 700;
        color: rgba(0, 0, 0, .54);
        margin-top: 20px;
        margin-top: 20px;
        max-width: 1346px;
        box-sizing: border-box;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin: 20px 51.6px 0px;
        border: 0px none rgba(0, 0, 0, 0.54);
        vertical-align: baseline;
    }

    .style-d65 {
        padding: 0 0px;
        max-width: 1346px;
        display: flex;
        margin-bottom: 10px;
        font-family: Roboto, sans-serif;
        color: rgba(0, 0, 0, 0.54);
        box-sizing: border-box;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin: 0px 0 10px;
        border: 0px none rgba(0, 0, 0, 0.54);
        vertical-align: baseline;
    }

    .style-d49 {
        padding-left: 3px;
        position:relative;
        font-weight: 400;
        line-height: 16.8px;
        color: rgb(63, 63, 63);
        display: block;
        font-size: 14px;
        box-sizing: border-box;
        margin: 0px;
        border: 0px none rgb(63, 63, 63);
        vertical-align: baseline;
    }

    .style-d68 {
        font-weight: 700;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
        text-decoration: none solid rgba(0, 0, 0, 0.54);
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px none rgba(0, 0, 0, 0.54);
        vertical-align: baseline;
    }
    .style-d161 {
        margin-top: 5px;
        box-sizing: border-box;
        padding: 0px;
        border: 0px none rgba(0, 0, 0, 0.54);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }

    .style-d430 {
        padding-top: 15px;
        margin: 0px 10px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
        border: 0px none rgba(0, 0, 0, 0.54);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }

    .style-d431 {
        margin-bottom: 20px;
        box-sizing: border-box;
       width: 18%px;
        padding: 0px;
        border: 0px none rgba(0, 0, 0, 0.54);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }
.style-d517 {
    width: 200%;
        height: 52px;
        background: rgb(36, 36, 36) none repeat scroll 0% 0% / auto padding-box border-box;
        margin: 0px 0px;
        border-radius: 0px;
        box-sizing: border-box;
        padding: 0px;
        border: 0px none rgb(0, 0, 0);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }
    .style-d543 {
        padding: 8px 0px;
        display:flex;
        gap: 50px;
        max-width: 1346px;
        width: 100%;
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
        min-height: 80px;
        border-bottom: 0.8px solid rgba(128, 128, 128, 0.11);
        box-sizing: border-box;
        list-style: outside none none;
        margin: 0px auto;
        border: 0px;
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }
     .style-d566 {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px none rgb(0, 0, 0);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }
    .style-d551 {
        display: table-cell;
        padding-right: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        padding: 0px 5px 5px 0px;
        box-sizing: border-box;
        margin: 0px;
        border: 0px none rgb(0, 0, 0);
        font: 16px / 16px Roboto, sans-serif;
    }
      .style-d575 {
        text-align: center;
        color: rgb(63, 63, 63);
        font-size: 12px;
        line-height: 16.44px;
        margin: 15px auto 10px;
        box-sizing: border-box;
        padding: 0px;
        border: 0px none rgb(63, 63, 63);
        vertical-align: baseline;
    }

    .style-d552 {
        display: block;
        background-position: -5px 0px;
        width: 54px;
        height: 32px;
        background: rgba(0, 0, 0, 0) url('https://cdn.nguyenkimmall.com/images/companies/_1/img/footer_2020_v3.png') no-repeat scroll -5px 0px / auto padding-box border-box;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px none rgb(0, 0, 0);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }
    .style-d567 {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px none rgb(0, 0, 0);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }
    .style-d563 {
        width: 20%;
        float: left;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px none rgb(0, 0, 0);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }
    .style-d563 {
        width: 20%;
        float: left;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px none rgb(0, 0, 0);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }
    .style-d564 {
        font-size: 14px;
        color: rgb(74, 74, 74);
        font-weight: 700;
        margin: 0px 0px 12px;
        box-sizing: border-box;
        padding: 0px;
        border: 0px none rgb(74, 74, 74);
        vertical-align: baseline;
    }
    .style-d550 {
        display: block;
        box-sizing: border-box;
        list-style: outside none none;
        margin: 0px;
        padding: 0px;
        border: 0px none rgb(0, 0, 0);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }

    .style-d548 {
        width: 38%;
        float: left;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px none rgb(0, 0, 0);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }
    .style-d544 {
        width: 38%;
        float: left;
        font-size: 14px;
        line-height: 20px;
        color: rgb(63, 63, 63);
        font-weight: 700;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px none rgb(63, 63, 63);
        vertical-align: baseline;
    }

    .style-d545 {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px none rgb(63, 63, 63);
        font: 700 14px / 20px Roboto, sans-serif;
        vertical-align: baseline;
    }
    .style-d518 {
        padding: 1px;
        max-width: 1346px;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin: 0px 0px;
        border: 0px none rgb(0, 0, 0);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }

    .style-d519 {
        width: 7%;
        height: 49.4375px;
        text-decoration: none solid rgb(0, 0, 238);
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px none rgb(0, 0, 238);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }

    .style-d520 {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px none rgb(0, 0, 238);
        font: 16px / 16px Roboto, sans-serif;
        vertical-align: baseline;
    }
    .style-d163 {
        font-size: 12px;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px none rgba(0, 0, 0, 0.54);
        vertical-align: baseline;
    }

    .style-d164 {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
        line-height: 20px;
        text-decoration: none solid rgba(0, 0, 0, 0.54);
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px none rgba(0, 0, 0, 0.54);
        vertical-align: baseline;
    }
.style-d51 {
    color: rgb(237, 51, 36);
    text-decoration: none solid rgb(237, 51, 36);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(237, 51, 36);
    font: 14px / 16.8px Roboto, sans-serif;
    vertical-align: baseline;
}
.style-d6 {
    font-size: 14px;
    line-height: 24px;
    color: rgb(63, 63, 63);
    display: block;
    text-decoration: none solid rgb(63, 63, 63);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(63, 63, 63);
    vertical-align: baseline;
}